<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Functional">
            <directory suffix="Test.php">./Tests/Functional</directory>
            <exclude>./Tests/Fixtures</exclude>
        </testsuite>
        <testsuite name="Unit">
            <directory suffix="Test.php">./Tests/</directory>
            <exclude>./Tests/Functional</exclude>
            <exclude>./Tests/Fixtures</exclude>
        </testsuite>
    </testsuites>
    <php>
        <server name="KERNEL_CLASS" value="TSantos\HttpAnnotationBundle\Tests\Fixtures\TestKernel" />
        <server name="KERNEL_DIR" value="tests/Fixtures/" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="/disabled/" />
    </php>
    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
            <exclude>
                <directory>./Tests</directory>
                <directory>./Resources</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
